*{
    box-sizing: border-box;
    margin: 0px;
  
  }
  /* #3D7C98
  #73B0CD
  #A8DFF1
  #F5F5F5 */
  body{
    height: 100%;
    background-color:#F5F5F5;
    color: white;
  }
  .Navbar{
    height: 80px;
    display: flex;
    background-color:#3D7C98;
    font-size: larger;

    color:#F5F5F5;
  }

  .navbar-links{
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-left:auto ;
  }
  .navbar-links p{
    padding-right: 15px;
  }